.grid-container-artifacts{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 0;
    margin-top: 2em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }