
.characterContainer {
  height: 100vh;
  background-color: rgb(26, 26, 24, 0.7);
  display: grid;
  grid-template-columns: .5fr 1.0fr .5fr;
  color: white;
  font-family: 'GenshinFont';
}
.character {
    /* background-color: rgb(26, 26, 24, 0.7); */
    /* overflow: hidden; */
    /* max-width: 1000px; */
    /* height: auto;
    width: auto; */
    text-align: center;
}



:root {
  --padding: 1.5em;
  --font-size: 2em;
  --font-size-hover: 2.3em;

  --colorOnHover: rgb(255, 255, 255);
  --colorNoHover: rgba(255, 255, 255, 0.555);
}
.menu {
  /* color: white;
  font-family: 'GenshinFont'; */
  padding: auto;
  margin-top: 3em;
  margin-left: 4em;
}

.attributes {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.attributes:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.weapons {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
  
}
.weapons:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.artifacts {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
  
}
.artifacts:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.constellations {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.constellations:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.talents {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.talents:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}

    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  }
  
  /* Medium devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }
  
  /* Large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }
  
  /* Large devices (large laptops and desktops, 1440px and up) */
  @media only screen and (min-width: 1440px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      
    }
    .image {
      height: auto;
      width: auto;
      max-height: 800px;
      max-width: 700px;
    }

    .att {
      color: white;
      font-family: 'GenshinFont';
    }
    .visionText {
      padding-top: 2em;
      padding-right: 1em;
      font-size: 3em;
      text-align: center;
    }
    .visionImg {
      padding-right: .5em;
      text-align: center;
    }
    .desc {
      font-size: 1.5em;
      padding-top: 3em;
      opacity: 0.5;
    }

    .weaponText {
      padding-top: 2em;
      padding-right: 1em;
      font-size: 3em;
      text-align: center;
    }
    .artifactText {
      padding-top: 2em;
      padding-right: 1em;
      font-size: 3em;
      text-align: center;
    }

    .const {
      color: white;
      font-family: 'GenshinFont';
      height: auto;
      width: 22em;
      margin-top: 3em;
      margin-left: 1em;
    }
    .skills {
      color: white;
      font-family: 'GenshinFont';
      height: auto;
      width: 22em;
      margin-top: 3em;
      margin-left: 1em;
    }
  }