
.characterContainer {
  height: 100vh;
  background-color: rgb(26, 26, 24, 0.7);
  display: grid;
  grid-template-columns: .5fr 1.0fr .5fr;
}
.character {
    /* background-color: rgb(26, 26, 24, 0.7); */
    /* overflow: hidden; */
    max-width: 1000px;
    height: auto;
    width: auto;
    text-align: center;
}

.rarity {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.desc {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}


:root {
  --padding: 1.5em;
  --font-size: 2em;
  --font-size-hover: 2.3em;

  --colorOnHover: rgb(255, 255, 255);
  --colorNoHover: rgba(255, 255, 255, 0.555);
}
.menu {
  color: white;
  font-family: 'GenshinFont';
  padding: auto;
  margin-top: 3em;
  margin-left: 4em;
}

.attributes {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.attributes:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.weapons {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
  
}
.weapons:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.artifacts {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
  
}
.artifacts:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.constellations {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.constellations:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}
.talents {
  max-height: 144px;
  max-width: 348px;
  background-color: transparent;
  border:transparent;
  color: var(--colorNoHover);
  font-size: var(--font-size);
  padding: var(--padding);
}
.talents:hover {
  color: var(--colorOnHover);
  font-size: var(--font-size-hover);
  padding: var(--padding);
}

    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .vision {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .weapon {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .affiliation {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
    .image {
        height: auto;
        width: auto;
        max-width: 500px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .vision {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .weapon {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .affiliation {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
    .image {
        height: auto;
        width: auto;
        max-width: 500px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .vision {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .weapon {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .affiliation {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
    .image {
        height: auto;
        width: auto;
        max-width: 500px;
    }
  }
  
  /* Medium devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
    
    .vision {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .weapon {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    .affiliation {
      color: white;
      font-family: 'GenshinFont';
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
    .image {
        height: auto;
        width: auto;
        max-width: 500px;
    }
  }
  
  /* Large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 3.5em;
      font-weight: bold;
      text-align: center;
    }
    
    .vision {
      color: white;
      font-family: 'GenshinFont';
      font-size: 3.5em;
      font-weight: bold;
      text-align: center;
    }

    .weapon {
      color: white;
      font-family: 'GenshinFont';
      font-size: 3.5em;
      font-weight: bold;
      text-align: center;
    }

    .affiliation {
      color: white;
      font-family: 'GenshinFont';
      font-size: 3.5em;
      font-weight: bold;
      text-align: center;
    }
    .image {
        height: auto;
        width: auto;
        max-width: 700px;
    }
  }
  
  /* Large devices (large laptops and desktops, 1440px and up) */
  @media only screen and (min-width: 1440px) {
    .const {
      color: white;
      font-family: 'GenshinFont';
      height: auto;
      width: 22em;
      margin-top: 3em;
    }
    .skills {
      color: white;
      font-family: 'GenshinFont';
      height: auto;
      width: 22em;
      margin-top: 3em;
    }
    
    .name {
      color: white;
      font-family: 'GenshinFont';
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      
    }
    .att {
      color: white;
      font-family: 'GenshinFont';
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      
    }
    .image {
        height: auto;
        width: auto;
        max-height: 800px;
        max-width: 700px;
        vertical-align: middle;
    }
  }