.characterName {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.grid-item {
    border: 2px solid rgba(236, 198, 48, 0.5);
    background-color: rgb(48, 48, 82);
}

img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}