.skillContainer {
    background-color: rgb(26, 26, 24, 1.0);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 25px;
    border: 2px solid rgb(58, 58, 179);
}

.skillName {
    font-size: 1.3em;
    padding-bottom: .5em;
}

.skillDescLess {
    font-size: 0.9em;
    max-height: 150px;
    overflow: hidden;
}
.skillDescMore {
    font-size: 0.9em;
}
.viewSkill {
    margin-top: 0.5em;
    font-size: 0.8em;
    /* background-color: rgb(58, 58, 179); */
    /* color: white; */
    color: rgb(85, 85, 250);
    border: transparent;
    background-color: transparent;
}